# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
LunaTemp/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta

# 删除：不需要的目录
ART/
Arts/
DEV/
Shader/
Shaders/
TutorialInfo/
TextMesh Pro/
Plugins/OutlineForColor/
Plugins/Sirenix/
Program/Script/AStar/
Program/Script/Controllers/
Program/Script/Entities/
Program/Script/UI/
Program/Script/Utilities/BySakanakoChan/
中文文件夹/

# SVN
.svn/

# OS
.DS_Store
Thumbs.db
